.fontController {
  /* font-size: 7.5px; */
  padding: 10em 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 745px) {
  .fontController {
    font-size: 9px;
  }
}
@media screen and (max-width: 663px) {
  .fontController {
    font-size: 8px;
  }
}

.stickyCard {
  position: relative;
  background-color: var(--callout-grey);
  padding: 6em 3.3em 3.3em 3.3em;
  border-radius: 1.5em;
  width: 100%;
  max-width: 36.7em;
  min-width: 25em;
}

.cardIcon {
  position: absolute;
  top: -2.2em;
  left: 3.5em;
  width: 5.7em;
  height: 5.7em;
}

/* Title wrapper (pricing etc) */

.cardTitleWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  white-space: nowrap;
  padding-right: 1em;
}

.cardTitleRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.9em;
}

.rrpPrice {
  color: var(--grey-text);
  text-decoration: line-through;
  font-weight: 400;
  font-size: 1.34em;
}

.price {
  font-size: 1.76em;
}

.cardTextWrapper {
  max-width: 20.8em;
}
.cardText{
  margin: 1.5em 0 0 0;
}

/* Bullets */

.bulletsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2.2em;
}

.bulletItem {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
  align-items: center;
  justify-content: flex-start;
}

.bulletText {
  font-size: 1.35em;
}

/* Upsell */

.upsellWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  border-radius: 1em;
  height: 3.8em;
  background-color: var(--white);
  position: relative;
  margin-top: 3em;
  padding: 1.2em;
  cursor: pointer;
}

.upsellText {
  color: var(--dark-text);
  font-size: 1.2em;
}

.upsellPriceText {
  font-weight: 400;
}

.upsellHelpWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.2em;
  border-radius: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  height: 2em;
  width: 2em;
  cursor: pointer;
}

/* Button */

.atcBtn {
  margin-top: 1.2em;

}

.atcPrice {
  color: var(--white-text-80);
  font-weight: 500;
  font-size: 1.4em;
}

.disclaimerText {
  margin-top: 1.5em;
  font-size: 1.3em;
  font-weight: 500;
  color: var(--grey-text);
  text-align: center;
}