#wrapper {
    /* font-size: 7.5px; */
  }
  @media screen and (max-width: 768px) {
    #wrapper {
      font-size: 6.5px;
    }
  }
  @media screen and (max-width: 680px) {
    #wrapper {
      font-size: unset;
    }
  }

#wrapper2 {
    position: relative;
    background-color: var(--callout-grey);
    padding: 6em 3.3em 3.3em 3.3em;
    border-radius: 1.5em;
    max-width: 466px;
  }
  
.icon {
    position: absolute;
    top: -22px;
    left: 35px;
  }

#sticky-card-text {
    max-width: 208px;
}

#sticky-card-rrp {
    color: var(--grey-text);
    text-decoration: line-through;
    font-weight: 400;
    font-size: 1.34em;
}

#sticky-card-price {
    font-size: 1.76em;
}
