#results {
    width: 100%;
    max-width: 110em;
    margin: 12em auto 0 auto;
}



/* Top Section */
#results-title {

}
#results-menu {
    margin-top: 6em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#results-menu-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1em;
}
#results-menu-title {
    font-size: 1.9em;
    letter-spacing: var(--space-5);
}
#results-menu-sub {
    font-size: 1.4em;
    color: var(--grey-text);
    letter-spacing: var(--space-3);
    font-weight: var(--reg);
    /* transform: translateY(-0.2em); */
}
#results-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    border: solid 1px var(--grey-text);
    border-radius: 10px;
    cursor: pointer;
    padding: 0.75em 1.5em;
}
#results-filter-text {
    font-size: 1.4em;
    letter-spacing: var(--space-3)
}


/* Results Grid */
#results-grid-wrapper {
    width: 100%;
    height: 100%;
    max-height: 68em;
    position: relative;
    overflow: hidden;
    margin-top: 3em;
}
#results-grid-gradient {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    max-height: 20em;
    background: linear-gradient(to bottom, transparent 0%, var(--background) 100%);
    z-index: 10;
}

#results-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.results-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
}



/* Results Item */

.results-item {
    background-color: var(--dark-bg-4);
    padding: 3em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
}
.results-item-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.results-item-top-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
}
.results-item-img{

}
.results-item-top-flex-inner {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
}
.results-item-title {
    font-family: var(--manrope);
    color: var(--white);
    font-size: 1.4em;
    font-weight: var(--med);
    letter-spacing: var(--space-3)
}
.results-item-text {
    font-family: var(--manrope);
    color: var(--grey-text);
    font-size: 1.2em;
    font-weight: var(--reg);
    letter-spacing: var(--space-3)

}
.results-item-writing {
    font-family: var(--manrope);
    line-height: 1.6;
    font-size: 1.4em;
    letter-spacing: var(--space-5);
    color: var(--grey-text);
    font-weight: var(--semi);
}
.results-img-wrap {
    width: 100%;
    margin-top: 2em;
    padding: 2em 0 0 0;
    border-top: 1px solid var(--grey-border);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}
.results-img {

}


/* Full Results Item */
.results-full-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.results-full-img {
    width: 100%;
}
.results-full-bottom {
    background-color: var(--dark-bg-4);
    padding: 3em;
    border-radius: 0 0 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
}



/* Load More */
#results-load-more-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-top: 5em;
}
#results-load-more-title{
    color: var(--grey-text);
    font-size: 1.6em;
    font-weight: var(--med);
}
#results-load-more-line-wrap {
    height: 0.5em;
    width: 100%;
    max-width: 350px;
    border-radius: 99px;
    overflow: hidden;
    background-color: var(--divider-grey);
}
#results-load-more-line {
    height: 100%;
    background-color: var(--light-purple);
}
#results-load-more {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-bg);
    padding: 1.5em 3em;
    border-radius: 99px;
    max-width: 250px;
    margin: auto;
    color: var(--white-text-80);
    cursor: pointer;
    margin-top: 1em;
}

#results-load-more-text {
    color: var(--white-text-80);
    font-size: 1.6em;
}