#top-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 4em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    z-index: 1000;
}


#top-text {
    color: var(--dark-text);
    font-weight: 500;
}