.fontController {
  /* font-size: 7.5px; */
  max-width: 1110px;
  padding: 0 2em;
  margin: auto;
  margin-top: 6em;
  display: flex;
  flex-direction: row;
  gap: 9em;
  justify-content: stretch;
  align-items: flex-start;
}
@media screen and (max-width: 745px) {
  .fontController {
    font-size: 9px;
  }
}
@media screen and (max-width: 663px) {
  .fontController {
    font-size: 8px;
  }
}


/* Left */
#leftWrapper {
  width: 100%;
  max-width: calc(100% - 36.7em - 9em);
}

/* Left */
#left {
  width: 100%;
}

#leftBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}


#title {
  text-align: left;
  max-width: 510px;
}

#titleGradient{
  background: linear-gradient(45deg, #8C64FC 0%, #FF7BF2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#divider {
  margin: 4em 0 ;
  width: 100%;
  height: 1px;
  background-color: var(--divider-grey);
}

#topImgWrapper {

}

#topImg {
  height: 100%;
  max-width: 100%;
}

#extraImgWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: 3em;
}

.extraImg {
  width: 50%;
  height: auto;
}



/* Other prodcuts */

#otherProducts {
  margin-top: 7em;
  border-top: 1px solid var(--divider-grey);
  width: 100%;
}

#otherProductsFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10em;
  margin-top: 4em;
}

#otherProductsTitle {
  font-size: 1.8em;
  letter-spacing: var(--space-7);
}

#otherProductsMore {
  color: var(--grey-text);
  padding: 0.7em 1.4em;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: var(--med);
  letter-spacing: var(--space-5);
  border-radius: 0.75em;
  transition: all 0.3s ease;
}

#otherProductsMore:hover {
  background-color: var(--callout-grey-50);
}

#otherProductsWrap {
  width: 100%;
  max-width: 100%;
  overflow: scroll;
  margin-top: 2.5em;
}

#otherProductsGrid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  width: max-content;
}




/* Left components */


.leftTextWrap {
  margin-top: 3.3em;

}

.leftText {
}

.leftTitleWrap {
  padding-top: 4em;
}
.leftTitle {
  font-size: 2em;
  font-weight: var(--med);
  letter-spacing: var(--space-5);
}

.leftImgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2.7em;
  padding: 4.5em;
  border-radius: 1.5em;
  background-color: var(--callout-grey);
}

.leftImg {
  width: 100%;
}


.benefitWrap {
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border-radius: 1em;
  margin-top: 3.3em;
}

.benefitText {
  font-size: 1.6em;
  font-weight: var(--med);
  letter-spacing: var(--space-5);
}











