.tom {
    color: #ff6347;
}
.poop {
    color: #8b4513;
}
.box { background: lightblue;
  padding: 20px;
  border-radius: 8px }

#test {
    background-color: var(--black);
    border-radius: 2em;
    margin: 12em auto 0 auto;
    padding: 9em 8em;
    max-width: 1200px;


}  


/* Added css item */
.cum {color: white}