button {
    background-color: var(--purple);
    color: var(--white);
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button.full {
    width: 100%;
}

.big-btn {
    height: 5.2em;
}

.btn-divider {
    height: 1.5em;
    width: 1px;
    background-color: var(--white);
}

button.bold {
    font-weight: 700;
}