@import './style/fonts.css';
@import './style/buttons.css';

:root {

  /* Default */
  --white: #ffffff;
  --background: #0D0D0D;
  --black: #000000;

  /* Fonts */
  --white-text: #ffffff;
  --white-text-80: rgba(255, 255, 255, 0.8);
  --white-text-40: rgba(255, 255, 255, 0.4);
  --grey-text: #949494;
  --dark-text: #0D0D0D;

  /* Borders and lines */
  --callout-grey: #2B2B2B;
  --callout-grey-50: #2b2b2b80;
  --divider-grey: #2E2E2E;
  --grey-border: #393C44;

  /* Greys */
  --light-grey: #E7E7E7; /* used for ? on upsell.. */
  --light-purple: #BAB2CD;
  --dark-bg: #1B1B1B;
  --dark-bg-1: #21252F;
  --dark-bg-2: #282B34;
  --callout-bg: #4F4F4F;

  /* Branding */
  --purple: #8D64FC;
  --purple-hover: #7d53f0;
  --green: #D1FC64;
  --gradient: linear-gradient(45deg, #8C64FC 0%, #FF7BF2 100%);
}


html, body, input, select, textarea {
  font-size: 10px;
}

button {
  font-size: unset;
}

body {
  color: var(--white-text);
  background: var(--background);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Checkbox */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5em;
  width: 1.8em;
  height: 1.8em;
  padding: 0.2em;
  transition: background-color 0.3s, background-image 0.3s;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  background-color: var(--light-grey);
}

input[type="checkbox"]:checked {
  background-color: var(--green);
  background-image: url('/package/upsell-tick.svg');
  background-size: 1.2em 1.2em;
  background-repeat: no-repeat;
  background-position: center;
}

.no-scrollbar {
  -ms-overflow-style: none;            /* IE and Edge */
  scrollbar-width: none;               /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                       /* Chrome, Safari, Opera */
}
