
:root {
  /* Font families */
  --outfit: 'Outfit', Arial, Helvetica, sans-serif;
  --manrope: 'Manrope', Arial, Helvetica, sans-serif;
  /* Letter spacings */
  --space-0: 0px;
  --space-1: -0.01em;
  --space-2: -0.02em;
  --space-3: -0.03em;
  --space-4: -0.04em;
  --space-5: -0.05em;
  --space-6: -0.06em;
  --space-7: -0.07em;
  /* Line heights */
  --line-1: 1.25;
  --line-2: 1.37;
  /* Font weights */
  --light: 300;
  --reg: 400;
  --med: 500;
  --semi: 600;
  --bold: 700;

}

h1,h2,h3,h4,h5,h6 {
  line-height: var(--line-1);
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h4,h5,h6 {
  line-height: var(--line-2)
}

h1 {
  font-size: 4em;
  letter-spacing: var(--space-5);
  font-weight: var(--bold);
  text-align: center;
}
h2 { 
  font-size: 3.7em; 
  letter-spacing: var(--space-5);
  font-weight: var(--bold);
}
h3 { 
  font-size: 3.5em;
  letter-spacing: var(--space-5);
  font-weight: var(--bold);
}
h4 { 
  font-size: 3em;
  letter-spacing: var(--space-4);
  font-weight: var(--semi);
}
h5 { 
  font-size: 2em;
  letter-spacing: var(--space-4);
  font-weight: var(--semi);
}
h6 { 
  font-size: 1.48em;
  font-weight: var(--semi);
  letter-spacing: var(--space-4);
}



p, li {
  font-family: var(--font-outfit);
  font-size: 1.65em;
  letter-spacing: var(--space-0);
  line-height: var(--line-2);
  color: var(--grey-text);
  font-weight: 300;
  text-align: left;
}

button span {
  font-size: 1.4em;
  font-weight: var(--semi);
  letter-spacing: var(--space-5);
}






/* Global stylings */

.center { text-align: center }

.underline {
  text-decoration: underline;
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}






















h4.tight {
  letter-spacing: -0.07em;
}
h4.med {
  letter-spacing: -0.05em;
}
h4.slop {
  letter-spacing: -0.02em;  
}